<div class="card shadow-effect w-100">
    <div class="card-body w-100">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto subs-text"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit eveniet laudantium, enim natus soluta dolore, libero velit sapiente assumenda consequatur optio error dolores reprehenderit accusamus inventore animi doloribus ea officia! </p>
            <form action="" class="d-flex mb-5 mt-5 gap-3 justify-content-center">
                <div class="form-group col-md-5">
                    <input 
                    type="text" 
                    class="form-control shadow-effect" 
                    placeholder="Your Name"
                    name="name"
                    required
                    >
                </div>
                <div class="form-group col-md-5">
                    <input 
                    type="email" 
                    class="form-control shadow-effect"
                    placeholder="Email Address"
                    name="email"
                    required 
                    >
                </div>
                <div >
                    <button class="btn btn-info btn-block btn-theme text-white" >SUBSCRIBE</button>
                </div>

            </form>

        </div>
    </div>
</div>