<div class="container">
    <div class="row">
        <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
            <h3 class="text-center text-theme-primary">{{ formStatus }} Category</h3>
            <p class="text-center mb-5"> You can {{ formStatus }} categories from here ..! </p>

            <form (ngSubmit)="onSubmit(categoryForm)" class="d-flex gap-3 text-center" #categoryForm='ngForm' >
                <div class="col-md-10">
                    <input 
                    type="text" 
                    name="category" 
                    class="form-control" 
                    placeholder="Add New Category" 
                    #newCategory="ngModel"
                    required
                    [(ngModel)] = "formCategory"
                    [ngClass] = "{'is-invalid': newCategory.touched && newCategory.invalid} "
                    >
                    <div class="alert alert-danger" *ngIf = "newCategory.touched && newCategory.invalid " >
                        Category field is required
                    </div> 
                </div>
                <div class="col-md-2">
                    <button class="text-white btn btn-block btn-info mb-1 btn-theme" [disabled] = "categoryForm.invalid" > {{ formStatus }} Category </button>
                </div>

            </form>

        </div>
    </div>
    <div class="row mt-5 mb-5" >
        <div class="card shadow-effect">
            <div class="card-body">
                <table class="table row-border hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categories$ | async; let i = index">
                            <td> {{ i+1 }} </td>
                            <td>{{ category.category }}</td>
                            <td class="d-flex gap-3">  
                                <button class="btn btn-sm btn-warning text-white" (click)="onEdit(category.category, category.id)"> Edit </button>
                                <button class="btn btn-sm btn-danger ml-2" (click)="onDelete(category.id)"> Delete </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>