<footer>
    <div class="container ">
        <div class="row">
            <div class="col-md-12 text-center ">
                <div class="site-logo">GL4 BLOG</div>
                <div>
                    <ul class="nav justify-content-center">
                        <li class="nav-item"> <a [routerLink]="['/']" class="nav-link">Home</a> </li>
                        <li class="nav-item"> <a [routerLink]="['/contact']" class="nav-link">Contact </a> </li>
                    </ul>
                </div>
                <p class="mb-2 mt-2">Copyright © 2024 GL4 Blog</p>
            </div>
        </div>
    </div>
</footer>