<div class="container">
    
    <div class="row"><h1>Welcome Back!👋  </h1></div>
    <div class="row">
        <div class="row row-cols-1 row-cols-md-3 g-4  ">
            <div class="col ">
                <div class="card firstcard">
                    <div class="card-body">
                        <h2 class="card-title"><b> {{postsCount$|async}}</b></h2>
                      <h4 class="card-text ">Total posts</h4>
                    </div>
                  </div>
            </div>
            <div class="col ">
                <div class="card  secondcard">
                    <div class="card-body">
                        <h2 class="card-title"><b> {{commentsCount$|async}}</b></h2>
                      <h4 class="card-text ">Comments</h4>
                    </div>
                  </div>
            </div>
            <div class="col ">
                <div class="card  thirdcard">
                    <div class="card-body">
                        <h2 class="card-title"><b> {{categoriesCount$|async}}</b></h2>
                      <h4 class="card-text ">Categories</h4>
                    </div>
                  </div>
            </div>
            <div class="col ">
              <div class="card  fourthcard">
                  <div class="card-body">
                      <h2 class="card-title"><b> {{subCount$|async}}</b></h2>
                    <h4 class="card-text ">Subscribers</h4>
                  </div>
                </div>
          </div>
          </div>
        </div>
  
</div>