<div class="container">
    <div class="row">
        <div class="col-md-5 mb-5">
            <div class="card shadow-effect" routerLink ="/dashboard/categories">
                <div class="card-body text-center bg-secondary-theme">
                    <h1 class="mt-3 text-theme-primary"><i class="fas fa-clipboard-list"></i></h1>
                    <h2 class="text-theme-primary"> Categories </h2>
                    <p> Manage Your Categories Details Here. </p>
                </div>
            </div>
        </div>
        <div class="col-md-5 mb-5">
            <div class="card shadow-effect" routerLink ="/dashboard/posts">
                <div class="card-body text-center bg-secondary-theme">
                    <h1 class="mt-3 text-theme-primary"><i class="fas fa-file-image"></i></h1>
                    <h2 class="text-theme-primary"> Posts </h2>
                    <p> Manage Your Posts Details Here. </p>
                </div>
            </div>
        </div>
        <div class="col-md-5 mb-5">
            <div class="card shadow-effect" routerLink ="/dashboard/subscribers">
                <div class="card-body text-center bg-secondary-theme">
                    <h1 class="mt-3 text-theme-primary"><i class="fas fa-users"></i></h1>
                    <h2 class="text-theme-primary"> Subscribers </h2>
                    <p> Manage Your Subscribers Here. </p>
                </div>
            </div>
        </div>
        <div class="col-md-5 mb-5">
            <div class="card shadow-effect" routerLink ="/dashboard/comments">
                <div class="card-body text-center bg-secondary-theme">
                    <h1 class="mt-3 text-theme-primary"><i class="fas fa-message"></i></h1>
                    <h2 class="text-theme-primary"> Comments </h2>
                    <p> Approve Comments Here. </p>
                </div>
            </div>
        </div>
    </div>
</div>