<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 style="color: var(--primary-color);"> Featured Posts </h2>
            </div>
        </div>
        <div style="height: 500px;" id="carouselExampleDark" class="carousel slide" *ngIf="featuredPosts$ | async as featuredPosts">
            <div style="background-color: var(--primary-color);" class=" w-100 h-100 position-absolute z-2 rounded opacity-25">
            </div>
            <div class="carousel-indicators z-3">
              <button *ngFor="let post of featuredPosts; let i = index" type="button" 
              [attr.data-bs-target]="'#carouselExampleDark'"
              [attr.data-bs-slide-to]="i"
              [ngClass]="{'active': i === 0}"
              [attr.aria-current]="i === 0 ? 'true' : null"
              [attr.aria-label]="'Slide ' + (i + 1)"></button>
            </div>
            <div class="carousel-inner rounded" >
                <div  *ngFor="let post of featuredPosts; let i = index" class="carousel-item"  [ngClass]="{'active': i === 0}" data-bs-interval="1000">
                    <div class="card-img-top" style=" height: 500px; background-image: url({{post.postImg}}); background-repeat: no-repeat; background-position: center; background-size: cover;"></div>
                    <div style="cursor: pointer;" class="carousel-caption d-none d-md-block text-white z-3" [routerLink]="['/post', post.postLink]">
                        <h5>{{ post.title }}</h5>
                        <p>{{ post.excerpt }}</p>
                    </div>
                </div>
              </div>
              
              <button class="carousel-control-prev z-3" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              
              <button class="carousel-control-next z-3" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>              
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2> Latest Posts </h2>
    </div>

    <div class="row">
        <div class="col-md-4 mt-3" *ngFor="let latestPosts of latestPosts$ | async">
            <app-post-card [postInfo]="latestPosts"></app-post-card>
        </div>
    </div>

</section>
