
<div class="limiter">
    <div class="maincontainer" >
        <div class="wrap-form">
            <div class="login-title" style="background-image: url('assets/login-bc.jpg');">
            <span class="login-span-title">
            Login In
             </span>
          </div>
        <div class="card-body">
            
            <form  class="form login-form validate-form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                <div class="wrap-input validate-input m-b-26 " [ngClass]="{'alert-validate':Email.touched && Email.invalid}" data-validate="Email is required">
                    <span class="label-input">Email</span>
                    <input class="input100" placeholder="Enter email" #Email="ngModel" type="email" ngModel name="email" required >
                    <span class="input-border"></span>
                </div>
    
                
    
                <div class=" form wrap-input validate-input m-b-18" [ngClass]="{'alert-validate':Password.touched && Password.invalid}" data-validate = "Password is required">
                    <span class="label-input">Password</span>
                    <input class="input100" placeholder="Enter password"  #Password="ngModel" type="password"  ngModel name="password" required>
                    <span class="input-border"></span>
                </div>
                <div class="flex-sb-m w-full p-b-30">
                    
                    <div>
                        <p  class="txt">Please login to your admin account to post a new blog</p>
                    </div>
                </div>
    
                
                
                    <br>
                <div class="container-login-form-btn" style="margin-top: 20px;">
                    <button class="login-form-btn" type="submit" [disabled]="loginForm.invalid">
                        Login
                    </button>
                   
                </div>
            </form>
        </div>
      </div>
    </div>
    