<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="text-theme-primary"> {{ formStatus }} Post </h3>
            <p class="mb-5"> You can {{ formStatus }} your post here </p>
        </div>
    </div>

    <div *ngIf="postForm">
        <form [formGroup]="postForm" (ngSubmit)="onSumbit()">
            <div class="row">
                <div class="col-md-7">
                    <div class="card shadow-effect">
                        <div class="card-body">
                            <div class="from-group">
                                <label>Title</label>
                                <input type="text" class="form-control" (keyup)="onTitleChanged($event)" formControlName="title" [ngClass]="{'is-invalid' : formControl['title'].touched && formControl['title'].invalid}">
                                <div *ngIf="formControl['title'].hasError('required')">
                                    <div class="alert alert-danger" *ngIf="formControl['title'].touched && formControl['title'].invalid">Title is required</div>
                                </div>
                                <div *ngIf="formControl['title'].hasError('minlength')">
                                    <div class="alert alert-danger" *ngIf="formControl['title'].touched && formControl['title'].invalid">Title must be at least 10 caracters long</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Post link</label>
                                <input type="text" class="form-control" [value]="postTitle | postTitlePipe" formControlName="postLink" [ngClass]="{'is-invalid' : formControl['postLink'].touched && formControl['postLink'].invalid}"/>
                                <div *ngIf="formControl['postLink'].hasError('required')">
                                    <div class="alert alert-danger" *ngIf="formControl['postLink'].touched && formControl['postLink'].invalid">Post link is required</div>
                                </div>
                            </div>
                            <div class="from-group">
                                <label>Excerpt</label>
                                <textarea cols="30" rows="10" class="form-control" formControlName="excerpt" [ngClass]="{'is-invalid' : formControl['excerpt'].touched && formControl['excerpt'].invalid}"></textarea>
                                <div *ngIf="formControl['excerpt'].hasError('required')">
                                    <div class="alert alert-danger" *ngIf="formControl['excerpt'].touched && formControl['excerpt'].invalid">Excerpt is required</div>
                                </div>
                                <div *ngIf="formControl['excerpt'].hasError('minlength')">
                                    <div class="alert alert-danger" *ngIf="formControl['excerpt'].touched && formControl['excerpt'].invalid">Excerpt must be at least 50 caracters long</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="">Please select a post category</label>
                        <select class="form-control" formControlName="category" [ngClass]="{'is-invalid' : formControl['category'].touched && formControl['category'].invalid}">
                            <option value="" disabled>Please select a category</option>
                            <option *ngFor="let category of categories$|async" value="{{category.id}}-{{category.category}}">{{category.category}}</option>
                        </select>
                        <div *ngIf="formControl['category'].hasError('required')">
                            <div class="alert alert-danger" *ngIf="formControl['category'].touched && formControl['category'].invalid">Please Select a Post category</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Post Image</label>
                        <img [src]="imgSrc" class="form-control img-fluid img-preview">
                        <input formControlName="postImg" type="file" class="form-control" accept="image/*" (change)="showPreview($event)" [ngClass]="{'is-invalid' : formControl['postImg'].touched && formControl['postImg'].invalid}">
                        <div *ngIf="formControl['postImg'].hasError('required')">
                            <div class="alert alert-danger" *ngIf="formControl['postImg'].touched && formControl['postImg'].invalid">Post Image is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mb-5">
                <div class="col-md-12">
                    <div class="card shadow-effect">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="">Content</label>
                                <angular-editor placeholder="Add your content here" formControlName="content"></angular-editor>
                                <div *ngIf="formControl['content'].hasError('required')">
                                    <div class="alert alert-danger" *ngIf="formControl['content'].touched && formControl['content'].invalid">Blog Content is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center mb-5 mt-5 d-flex gap-3 justify-content-center">
                    <button class="btn btn-info bg-theme text-white" [disabled]="postForm.invalid">{{ formStatus }} Post</button>
                    <a class="btn btn-warning ml-3 text-white" routerLink="/dashboard/posts">Back to Posts</a>
                </div>
            </div>
        </form>
    </div>
</div>