<header class="fixed-top bg-white">
    <div class="navbar">
        <div class="logo">
            <a href="#">GL4 BLOG</a>
        </div>
        <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Featured Posts</a></li>
            <li><a href="#">Latest Posts</a></li>
        </ul>
        <div class="buttons" >
            <button class="button">
                Subscribe
            </button>
            <button *ngIf="loggedInUser$ | async as user"
                class="btn btn-sm btn-info bg-secondary-theme text-theme-primary" (click)="onLogout()">Logout</button>
        </div>
        <div appHeader class="toggle_btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    <div class="dropdown_menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Featured Posts</a></li>
        <li><a href="#">Latest Posts</a></li>
        <li><button class="button">
                Subscribe
            </button></li>
        <li>
            <div *ngIf="loggedInUser$ | async as user" class="container justify-content-center d-flex gap-3">
                <a href="#" class="mr-3">{{user.email}}</a>
                <button class="btn btn-sm btn-info bg-secondary-theme text-theme-primary"
                    (click)="onLogout()">Logout</button>
            </div>
        </li>
    </div>
</header>