<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://static6.depositphotos.com/1167801/651/i/450/depositphotos_6517777-stock-photo-rainbow-of-colorful-boxes.jpg" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center"> Category 1</small>
                    <small class="bg-light text-sucess text-center ml-2"> Featured </small>
                    <small class="bg-light text-info text-center ml-2"> Views - 106,638 </small>
                    <small class="bg-light text-warning text-center ml-2"> LAST UPDATED - SEP 10 - 2021 </small>
                    <h1 class="mt-3 mb-3">LOREM TITLE</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse atque quos blanditiis maiores obcaecati repellendus aliquam. Architecto rem vel quis ipsam natus deleniti quidem repellendus beatae maxime alias, tempore officia!</p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>

        <div class="col-md-3 gap-3">
            <div class=" mb-3">
                <app-post-card></app-post-card>
            </div>
            <div class=" mb-3">
                <app-post-card></app-post-card>
            </div>
            <div class=" mb-3">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</div>