<div class="container">
    <div class="row" *ngIf="postData$ | async as post">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="{{post.postImg}}" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <div class=" d-flex gap-3">
                        <small class="p-2 rounded bg-light text-danger text-center">{{post.category.category}}</small>
                        <small *ngIf="post.isFeatured" class="p-2 rounded bg-light text-sucess text-center ml-2"> Featured </small>
                        <small class="p-2 rounded bg-light text-info text-center ml-2"> Views - {{ post.views }} </small>
                        <small class="p-2 rounded bg-light text-warning text-center ml-2"> LAST UPDATED - {{ post.createdAt | timestampToDate | date }} </small>
                    </div>
                    <h1 class="mt-3 mb-3">{{ post.title }}</h1>
                    <p [innerHTML]="post.content"></p>
                </div>
            </div>
            <app-comment-form [postData]="post"></app-comment-form>
            <app-comment-list [postData]="post"></app-comment-list>
        </div>

        <div class="col-md-3 gap-3">
            <div class=" mb-3" *ngFor="let similarPost of  similarPosts$ | async">
                <app-post-card [postInfo]="similarPost" ></app-post-card>
            </div>
        </div>
    </div>
</div>