<div class="container">
    <br>
    <div class="row" *ngIf="postData$ | async as post">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="{{post.postImg}}" alt="" class="card-img-top img-fluid rounded-top">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex gap-2">
                            <span class="badge rounded-pill bg-danger text-light">{{ post.category.category }}</span>
                            <span *ngIf="post.isFeatured"
                                class="badge rounded-pill bg-success text-light">Featured</span> <span
                                class="badge rounded-pill bg-info text-light">Views - {{ post.views }}</span>
                        </div>
                        <small class="text-muted">Last Updated - {{ post.createdAt | timestampToDate | date }}</small>
                    </div>
                    <h1 class="h2 mb-3">{{ post.title }}</h1>
                    <p class="card-text" [innerHTML]="post.content"></p>
                </div>
            </div>
            <app-comment-form [postData]="post"></app-comment-form>
            <app-comment-list [postData]="post"></app-comment-list>
        </div>

        <div class="col-lg-4 col-md-3">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h4 class="mb-0">Similar Posts</h4>
                </div>
                <div class="card-body">
                    <div *ngFor="let similarPost of similarPosts$ | async">
                        <app-post-card [postInfo]="similarPost"></app-post-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>