<div class="card mb-5 mt-5 pb-5 shadow-effect">
    <div class="card-body" *ngIf="commentList$ | async as comments">
        <h4 class="mt-3 mb-3"> Comments ({{comments.length}}) </h4> 
        <div class="comment-box mt-3" *ngFor="let comment of comments">
            <h6 class="mb-0"> {{ comment.name }} </h6>
            <small class="text-danger"> CREATED AT - {{ comment.createdAt | timestampToDate | date }}  </small>
            <div class="mt-3 mb-3">
                {{ comment.comment }}
            </div>
            <hr> 
        </div>
    </div> 
 </div>