<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4>Leave a Comment</h4>
        <p>You can leave a comment using this comment form</p>
        <form #commForm="ngForm" (ngSubmit)="submitForm(commForm)">
            <div class="form-group validate-input" 
            [ngClass]="{'alert-validate':Name.touched && Name.invalid}"
            data-validate = "Name is required">
                <label >Name</label>
                <input type="text" 
                class="form-control shadow-effect" 
                placeholder="Enter your name here" 
                name="name" 
                #Name="ngModel" 
                required 
                ngModel >
            </div>
            <div class="form-group validate-input" 
            [ngClass]="{'alert-validate':Comment.touched && Comment.invalid}"
            data-validate = "Comment is required">
                <label >Comment</label>
                <textarea 
                cols="30" 
                rows="10" 
                class="form-control shadow-effect" 
                placeholder="Add your comment here"
                name="comment"
                #Comment="ngModel"
                required 
                ngModel
                ></textarea>
            </div>
            <button class="mt-5 btn btn-info btn-theme text-white" [disabled]="commForm.invalid">Add a Comment</button>
        </form>
    </div>
</div>