<div class="page-wrapper">
    <div class="post-slider">
        <h1 class="slider-title">
            Most Viewed Articles
        </h1>
        <i class="fas fa-chevron-left prev"></i>
        <i class="fas fa-chevron-right next"></i>

        <div class="post-wrapper">

            <div class="post">
                <img src="../../../assets/image-placeholder.png" alt="" class="slider-image">
                <div class="post-info">
                    <h4>
                        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. </a>
                    </h4>
                    <i class="fas fa-user">
                        Aww wwwwww
                    </i>
                    &nbsp;
                    <i class="fas fa-calendar">
                        Jan 28, 2024
                    </i>
                </div>
            </div>
            <div class="post">
                <img src="../../../assets/image-placeholder.png" alt="" class="slider-image">
                <div class="post-info">
                    <h4>
                        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. </a>
                    </h4>
                    <i class="fas fa-user">
                        Aww wwwwww
                    </i>
                    &nbsp;
                    <i class="fas fa-calendar">
                        Jan 28, 2024
                    </i>
                </div>
            </div>
            <div class="post">
                <img src="../../../assets/image-placeholder.png" alt="" class="slider-image">
                <div class="post-info">
                    <h4>
                        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. </a>
                    </h4>
                    <i class="fas fa-user">
                        Aww wwwwww
                    </i>
                    &nbsp;
                    <i class="fas fa-calendar">
                        Jan 28, 2024
                    </i>
                </div>
            </div>
            <div class="post">
                <img src="../../../assets/image-placeholder.png" alt="" class="slider-image">
                <div class="post-info">
                    <h4>
                        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. </a>
                    </h4>
                    <i class="fas fa-user">
                        Aww wwwwww
                    </i>
                    &nbsp;
                    <i class="fas fa-calendar">
                        Jan 28, 2024
                    </i>
                </div>
            </div>
            <div class="post">
                <img src="../../../assets/image-placeholder.png" alt="" class="slider-image">
                <div class="post-info">
                    <h4>
                        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. </a>
                    </h4>
                    <i class="fas fa-user">
                        Aww wwwwww
                    </i>
                    &nbsp;
                    <i class="fas fa-calendar">
                        Jan 28, 2024
                    </i>
                </div>
            </div>
        </div>
    </div>


</div>