<div class="card shadow-effect" *ngIf="postInfo">
    <img src="{{postInfo.postImg}}" alt="post-image" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center"> {{postInfo.category.category}} </small>
        <small *ngIf="postInfo.isFeatured" class="bg-light text-success text-center ml-3" > Featured </small>
        <small class="bg-light text-info text-center ml-3"> Views - {{postInfo.views}}  </small>

        <h5 class="mt-1"> {{postInfo.title}} </h5>
        <p> {{ postInfo.excerpt }} </p>

        <small class="bg-light text-warning text-center"> LAST UPDATED - {{ postInfo.createdAt | timestampToDate | date}}  </small>

    </div>

</div>
